*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
}

body{
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(190,190,217,1) 13%, rgba(0,212,255,1) 99%);
}

.container{
    position: relative;
    border: 2px solid red;
    padding: 16px;
}

.container ul li{
    list-style: none;
    margin-top: 4px;

}

#submitButton{
    min-width: 100%;
    cursor: pointer;
}